/* Portfolio Styles */
.splitter {
    height: 2em;
}
.splitter1 {
    height: auto;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}
.job-listings {
    max-width: 800px;
    margin: 5em auto;
    padding:  20px  ;
}
#ziprecruiter {
    font-size: 18px;
    text-decoration: none;
}

.job {
    margin-bottom: 40px;
}

#section1 {
    background-color: var(--highlight-color);
    height: auto;
    padding: 5vh 20vw;
}

#section2 {
    background-color: var(--primary-color);
    height: auto;
    padding: 5vh 20vw;
}
@media only screen and (max-width:768px){
    header {
        top: 0;
    }
    #carouselcareers {
        width:100%;
        
    }
    .carousel-text {
        display: none;
    }
    .carouselborder {
        display: none;
    }
}