
body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    transition:margin .3s ease-in-out;
    scroll-behavior:smooth
}
header{
    font-family: 'Chakra Petch', Arial;
    font-weight: 525;
    position:fixed;
    width:100%;
    background:#fff;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
    transition:height .3s ease-in-out;
    height:100px
}
header.nav-shrink{
    height:65px
}
.navsec{
    text-align:center;
    padding:1em;
    display:flex;
    width:100%;
    margin:0 20px
}
nav{
    display:flex;
    align-items:center;
    margin-left:auto;
    max-width:1000px
}
nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex
}
nav li{
    margin-right:10px;
    display:flex;
    align-items:center;
    border-right:1px solid #202020;
    height:10px;
    padding-right:10px
}
nav li:last-child{
    border-right:0
}
nav a{
    text-decoration:none;
    border-width:0;
    border-top-style:solid;
    padding:12px;
    color:#050505;
    font-size:18px;
    transition:color .3s;
    align-items:center
}
nav a:hover{
    color:#5595b3
}
nav a.active{
    color:#25688a
}
.iconlogo{
    margin-left:10px
}





/* SECTIONS BEGIN */
#sectionHeader{
    text-align:center;
    padding-top: 125px;
    height: 300px;
    font-family: 'Chakra Petch', Arial;
    font-size: 35px;
    background-color: green;
}

/* SECTION 1*/
#section1 {
    background-color: white;
    height: 20vh;
    padding: 1vh 20vw;
    margin: 10px 0;
}
#section2 {
    background-color: #3d728c;
    height: 20vh;
    padding: 1vh 20vw;
    margin: 10px 0;
}
#section3 {
    background-color: white;
    height: 20vh;
    padding: 1vh 20vw;
    margin: 10px 0;
}
#section4 {
    background-color: #3d728c;
    height: 20vh;
    padding: 1vh 20vw;
    margin: 10px 0;
}

/* FOOTER */
footer{
    background:#333;
    color:#fff;
    text-align:center;
    padding:1em;
    position:relative
}


/* MOBILE SCREEN AND 768px<*/
@media only screen and (max-width:768px){
    .navsec{
        text-align:center;
        padding:1em;
        display:flex;
        justify-content:space-between;
        align-items:center
    }
    .iconlogo{
        margin:0 auto
    }
    .menu-toggle{
        display:block;
        cursor:pointer;
        margin-right:15px
    }
    nav{
        display:none;
        opacity:0;
        flex-direction:column;
        align-items:center;
        position:absolute;
        top:100%;
        left:0;
        right:0;
        background:#fff;
        overflow:hidden;
        visibility:hidden;
        transform:translateY(-100%);
        transition:opacity .2s ease-in-out,transform 1s ease-in-out,visibility .2s ease-in-out;
        text-align:center
    }
    nav.active{
        display:flex;
        opacity:1;
        visibility:visible;
        transform:translateY(0)
    }
    nav ul{
        list-style:none;
        margin:0;
        padding:0;
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
        margin-left:20px
    }
    nav li{
        margin-bottom:10px;
        border-right:0
    }
    nav a{
        text-decoration:none;
        color:#202020;
        font-size:18px;
        transition:color .3s
    }
    .menu-toggle{
        display:block;
        position:absolute;
        left:15px;
        cursor:pointer;
        top:50%;
        transform:translateY(-50%)
    }
    .menu-icon{
        padding:1px;
        width:30px;
        height:3px;
        background-color:#202020;
        margin:6px 0;
        transition:.4s ease-in-out
    }
    header img{
        display:block;
        margin:0 auto
    }
    .navsec{
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center
    }
    .iconlogo{
        margin-right:10px
    }
    section{
        padding:20px;
        text-align:center
    }
}
.mobile-nav-active nav{
    opacity:0;
    max-height:0;
    overflow:hidden;
    transition:max-height .3s ease-in-out,opacity .3s ease-in-out
}
.mobile-nav-active nav.active{
    opacity:1;
    max-height:500px
}
.mobile-nav-active nav.active ul{
    flex-direction:column
}
.mobile-nav-active .menu-toggle{
    display:block;
    position:absolute;
    top:50px;
    left:15px;
    cursor:pointer
}
