/* Portfolio Styles */

#portfolioHeader {
    text-align:center;
    padding-top: 125px;
    height: 150px;
    font-family: 'Chakra Petch', Arial;
    font-size: 35px;
    background-color: white;
}