/* Portfolio Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

#portfolio {
    display: flex;
    flex-direction: column;
    /* Display children elements in a column */
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 8%;
    /* Adjusted margin-top for a cleaner look */
    position: relative;
    z-index: 1;
}

.portfolio-categories ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.portfolio-categories li {
    margin: 10px;
    padding: 10px;
    /* Increased padding for better spacing */
}

.portfolio-categories a {
    text-decoration: none;
    color: #111111;
    font-size: 1.1em;
    padding: 10px 20px;
    /* Adjusted padding for a cleaner and more readable button */
    border-radius: 4px;
    background-color: #bdbdbd;
    /* Set a background color for the buttons */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for background and text color */
}

.portfolio-categories a:hover {
    background-color: #555;
    /* Darker background on hover */
    color: #fff;
    /* Lighter text color on hover */
}

.portfolio-content {
    flex: 1;
    /* Adjust flex property to allow the content to take available space */
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    /* Adjust margin-top as needed */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ... rest of your styles ... */

.project-list {
    max-width: 350px;
    height: 100%;
    margin-right: 20px;
    background-color: antiquewhite;
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.project-list h3 {
    color: #333;
    font-size: 1.2em;
    margin-top: -5px;
    background-color: #bdbdbd;
    width: 100%;
    padding: 15px 0px;
    text-align: center;

}

.project-list ul {
    list-style: none;
    padding: 0;
}

.project-list li {
    margin-bottom: 10px;
}

.project-list a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project-list a:hover {
    background-color: #eee;
}

.project-details {
    max-width: 1600px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.project-details h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}