/* Template Styles */
#img-Header {
  background-position: center 60.5%;

}



.service-row {
  display: flex;
  width: 100%;
  height: 50vh;
  background-color: var(--primary-color);
  
}

.column {
  flex: 1;
  text-align: center;
  padding: 2em 3em;
  
}
#column-one {
  border-width: 1.25px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
}
#column-two {
  border-width: 1.25px;
  border-style: solid;
  border-top: 0;
  border-right: 0;
}
#column-three {
  border-width: 1.25px;
  border-style: solid;
  border-bottom: 0;
  border-left: 0;
}
#column-four {
  border-width: 1.25px;
  border-style: solid;
  border-bottom: 0;
  border-right: 0;
}
.column h2 {
  display: block;
  margin: 0 auto;
  font-size: 26px;
  color: var(--secondary-color);
  font-weight: 500;

}

.column p {
  text-align: left;
  margin: 0;
}

/* SERVICES */
#civil-service {
  color: #2c3e50;
  background: var(--primary-color);
  padding: 0 1em 1em;
  height: 50vh;
}
#development-service {
    color: #2c3e50;
    background: var(--highlight-color);
    padding: 0 1em 1em;
    height: 50vh;
  }
#survey-service {
  color: #2c3e50;
  background: var(--primary-color);
  padding: 0 1em 1em;
  height: 50vh;
}
#construction-service {
    color: #2c3e50;
    background: var(--highlight-color);
    padding: 0 1em 1em;
    height: 50vh;
    margin-bottom: 5em;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
  margin: 15px;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 0;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}